<div class="row"> 
  <div class="col-xs-9"> 
  <div class="form-group row">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <h4><strong>TREATMENT PLANS</strong></h4>
        </div>
        <div class="col-xs-3 col-xs-push-7">
          <input type="button" value="Mark as complete" />
           <input type="button" value="+ Add" ng-click="addTreatmentPlans()"/>
        </div>
      </div>
    </div>

    </br>
     <div id="wrapper">
    <table id="keywords" cellspacing="0" cellpadding="0" class="border-bottom">
    <thead class="table-class">
          <tr>
            <th><span>PROCEDURES</span></th>
            <th><span>Cost</span></th>
            <th><span>Discount</span></th>
            <th><span>Total</span></th>
            <th><span>Notes</span></th>
          </tr>
        </thead>

        <tbody>
            <tr>
                <td>Consultation</td>
                <td>3445</td>
                <td>0.00</td>
                <td>3445</td>
                <td>Notes</td>
            </tr>
        </tbody>
    </table>
     </div>


  </div>
</div>