
<!--<ul class="list-group row">
     <li class="list-group-item col-xs-6">Row1</li>
     <li class="list-group-item col-xs-6">Row2</li>
     <li class="list-group-item col-xs-6">Row3</li>
     <li class="list-group-item col-xs-6">Row4</li>
     <li class="list-group-item col-xs-6">Row5</li>
</ul>-->
<div class="col-xs-8 col-xs-push-1">
<ul class="list-group row">
     <li class="list-group-item  col-xs-12"><div class="col-xs-1">Procedure</div><div class="col-xs-5 col-xs-push-2">cost</div><div class="col-xs-3">discount</div><div class="col-xs-2">Total Notes</div></li> 
     <li class="list-group-item  col-xs-12"><div class="col-xs-1">Row1</div><div class="col-xs-1">Row1</div><div class="col-xs-2">Row1</div></li>
     <li class="list-group-item  col-xs-12"><div class="col-xs-1">Row1</div><div class="col-xs-1">Row1</div><div class="col-xs-2">Row1</div></li>
     <li class="list-group-item  col-xs-12"><div class="col-xs-1">Row1</div><div class="col-xs-1">Row1</div><div class="col-xs-2">Row1</div></li>
     <li class="list-group-item  col-xs-12"><div class="col-xs-1">Row1</div><div class="col-xs-1">Row1</div><div class="col-xs-2">Row1</div></li>
</ul>
<br>
<div class="navbar-right">
		      <ul class="nav navbar-nav state-closed">
		      	<li class="helper"></li>
		      	<li class="line2"></li>
		      	<li class="line"></li>
		      	<li class="line3"></li>
				<li><a data-rel="1">Home</a></li>
				
					<li><a data-rel='6'>
						<span>Basis</span>
					</a></li>
				
					<li><a data-rel='11'>
						<span>Quintessence</span>
					</a></li>
				
					<li><a data-rel='8'>
						<span>Activity</span>
					</a></li>
				
					<li><a data-rel='9'>
						<span>References</span>
					</a></li>
				
					<li><a data-rel='10'>
						<span>Contact</span>
					</a></li>
				
				</ul>
			</div>
		</nav>
		</div>
</div>

<style>

navbar-right : {
    min-width: 50%;
  text-align: center;
  margin-right: 0px;
  float: right !important;
}

    </style>