
      <div class="left-col">
        <ul class="sidebar-menu-list">
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>
          <li>
            <a href="" class="active" ui-sref="centersetting">
              <i class="fa fa-user sidebar-icon"></i> <span class="menu-name">Center Details </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-calendar sidebar-icon"></i> <span class="menu-name">Communications </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>

            </a>
          </li>
          <li>
            <a ui-sref="center.calendar">
              <i class="glyphicon glyphicon-retweet sidebar-icon">
              </i> <span class="menu-name">Calendar </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>
          </li>
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>

        </ul>

        <ul class="sidebar-menu-list middle-menu-list">
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>
          <li>
            <a href="" class="" ui-sref="staff">
              <i class="fa fa-info sidebar-icon"></i> <span class="menu-name">Practice Staff </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-medkit sidebar-icon"></i> <span class="menu-name">Procedure Catalog</span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>

            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-newspaper-o sidebar-icon"></i> <span class="menu-name">Billing </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-certificate sidebar-icon"></i> <span class="menu-name">Loyalty </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-files-o sidebar-icon"></i> <span class="menu-name">Contacts</span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-file-text-o sidebar-icon"></i> <span class="menu-name">EMR</span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-clock-o sidebar-icon"></i> <span class="menu-name">Prescriptions</span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>
          </li>
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>

        </ul>

        <ul class="sidebar-menu-list">
          <li>
            <a href="" class="">
              <i class="fa fa-newspaper-o sidebar-icon"></i> <span class="menu-name">Labs </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-money sidebar-icon"></i> <span class="menu-name">Printouts </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>

            </a>
          </li>

          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>

        </ul>

      </div>

