<div class="close-left-menu">
          <img src="../img/clode-icon.png">
        </div>
        <div class="col-md-12 patient-details ">
          <div class="patient-profile  display-flex-center clearfix patient-profile-search" style="border-bottom:0px;">
              
            <div class="fl col-xs-5  no-padding">  
                <div class="checkbox-inline">
  <label>
    <input type="checkbox" /> set default doctor for EMR 
  </label>
                    <button type="button" class="btn btn-primary">Save</button>
</div>
                </div>
            <div class="col-xs-7 pull-right no-padding search-section">
              <div class="pull-right">
               
              </div>
            </div>
          </div>
        </div>