
      <div class="right-col">
        <div class="close-left-menu">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="col-md-9 patient-details">
          <div class="patient-profile">
            <h4>My Profile</h4>
          </div>
          <div class="personal-details clearfix">
            <h4 class="no-margin green-color">Personal Details</h4>
            <div class="col-md-10 no-padding patient-details-single">
              <div class="patient-image">
                 <div class="photos fa fa-plus-circle" id="{{capturedImages.id}}">
                        <input type="file" accept="image/*;capture=camera" onchange="angular.element(this).scope().handleImage(this)">
                        <div class="img-wrapper fa fa-minus-circle" ng-class="{'show':capturedImages.show}" ng-click="remImg(capturedImages)">
                            <img class="showcase" ng-src="{{capturedImages.base64}}">
                        </div>
                    </div>
              </div>
              <div class="name-details name-details-personal" ui-view>

                <div class="col-md-5"><h6>Name</h6></div>
                <div class="col-md-6"><p>{{globals.name}}</p></div>
                <div class="col-md-5"><h6>Email ID</h6></div>
                <div class="col-md-6"><p>{{globals.email}}</p></div>
                <div class="col-md-5"><h6>Phone Number</h6></div>
                <div class="col-md-6"><p>{{globals.phone}}</p></div>
                <div class="col-md-5"><h6>Address</h6></div>
                <div class="col-md-6"><p>{{globals.address}}</p></div>

              </div>
              <div class="col-md-5">
              <input type="button" class="btn btn-default" value="update" ng-click="updateProfile()">
              <input type="button" ui-sref="editCustomer" class="btn btn-default" value="edit" ng-click="editProfile()">
              </div>

            </div>
          </div>
          

        </div>
        
      </div>
      