<div class="container" id="main">
   <div class="row">
   <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><input type="button" value="Add" class="btn btn-primary pull-right"><h4>Clinical Notes</h4></div>
   			<div class="panel-body">
              <div class="list-group">
                  <h4>Complaints</h4>
                  <h4>Observations</h4>
                  <h4>Investigations</h4>
                  <h4>Diagnoses</h4>
                <!--<a class="list-group-item">Modal / Dialog</a>
                <a class="list-group-item">Datetime Examples</a>
                <a class="list-group-item">Data Grids</a>-->
              </div>
            </div>
   		</div>
   </div>
   </div>
   </div>