<div class="container">
  <form name="emr" role="form" style="margin-top:30px;" novalidate>
    <flash-message></flash-message>
    <div class="row">
      <div class="col-xs-3">
        <div class="form-group">
          <label class="sr-only" for="inputEmail"></label>
          <input type="text" class="form-control" placeholder="" ng-model="newObservation" name="Observation" ng-pattern="/^[a-zA-Z0-9]*$/"
            required>
          <div ng-messages="emr.Observation.$error">
            <div ng-message="pattern"> Special Characters and numbers are not allowed.</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="addItem()">Add New</button>
      </div>
    </div>

   <div class="row">
      <div class="col-xs-2">
        <div class="form-group">
          <label class="sr-only" for="inputEmail"></label>
          <input type="text" class="form-control" id="inputEmail" placeholder="search" ng-model="query">
        </div>
      </div>
    </div>

    <div class="row" ng-repeat="aObservation in observations | filter:query">
      <div ng-if="aObservation.active">
        <div class="col-xs-3">
          <div class="form-group">
            <label class="" for="inputEmail" ng-hide="currentEditIndex == $index">{{aObservation.name}}</label>
            <div ng-show="currentEditIndex == $index" ng-model="aObservation.name"><input type="text" ng-model="aObservation.name" ng-disabled="inactive" /></div>
          </div>
        </div>

        <div class="col-xs-7 col-xs-push-5">
          <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="edit(aObservation,$index)" ng-hide="currentEditIndex == $index">Edit</button>
            <button class="btn btn-danger" ng-show="currentEditIndex == $index" ng-click="cancel($index)">Cancel</button>
            <button class="btn btn-primary" ng-show="currentEditIndex == $index" ng-click="save(aObservation, $index)" ng-disabled="aObservation.name.length == 0">Save</button>
            <button class="btn btn-primary" ng-click="deleteItem(aObservation,$index)" ng-hide="currentEditIndex == $index">hide</button>
          </div>
        </div>
      </div>
    </div>
    <div style="border-bottom:1px solid black; width:80%;"> </div>
    <div style="padding:3px"></div>
    <div class="row" ng-repeat="inActiveObservation in inactivearray ">
      <div ng-if="!inActiveObservation.active">
        <div class="col-xs-3">
          <div class="form-group">
            <label class="" for="inputEmail" ng-hide="currentEditIndex == $index">{{inActiveObservation.name}}</label>
          </div>
        </div>
        <div class="col-xs-7 col-xs-push-5">
          <div class="form-group">
            <button class="btn btn-primary" ng-click="unhide(inActiveObservation,$index)" ng-hide="currentEditIndex == $index">Unhide</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
