<!--<head>
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Registration</title>
    <!-- Bootstrap -->

<!--<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/easy-responsive-tabs.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="../css/style-crop.css" />

    <link rel="stylesheet" type="text/css" href="../css/jquery.Jcrop.css" />
    <link rel="stylesheet" type="text/css" href="../css/master.css" />
      <link rel="stylesheet" type="text/css" href="" />
    <link rel="stylesheet" type="text/css" href="../css/responsive.css" />
    
  </head>-->

<body>
    <!--Header Start Here-->
    <header class="inner-header">
        <!--Top Menu Start-->
        <div class="top-menu top-menu-inner-page">
            <div class="logo-section">
                <a href="" class="white-color hover-white text-deco-none logo ">trueapps </a>
            </div>
            <div class="user-details-section">
                <ul>
                    <li><a href=""><i class="fa fa-search fa-lg white-color"></i></a></li>
                    <li><a href=""><i class="fa fa-bell fa-lg white-color" aria-hidden="true"></i></a></li>
                    <li class="user-name-image">
                        <div class="circle-image"><img src="../img/user-image.png"></div>
                        <div class="user-name">
                            <h6 class="white-color no-margin">Welcome</h6>
                            <h5 class="white-color no-margin">Mr.Lokesh</h5>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <!--   <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="burger-menu burger-menu-inner">
                <img src="../img/bars.png">
            </div>
        </div>
        <!--Top Menu End Here-->

        <!--Top Second Menu Start-->
        <div class="top-second-menu">
            <div class="col-md-3 dental-zone no-padding">
                <!-- <i class="fa fa-medkit white-color fa-2x medi-kit" aria-hidden="true"></i> -->
                <a href=""><img src="../img/icons/home.png">
                    <span class="white-color">Vims dental zone</span></a>
            </div>
            <div class="col-md-6 second-small-menu no-padding">
                <ul>
                    <li>
                        <a href="">
                            <i class="fa fa-calendar white-color" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Calender"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../img/icons/list.png" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="List">

                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../img/icons/chat.png" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Communication">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../img/icons/file.png" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="File">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../img/icons/user.png" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="User">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--Top Second Menu End Here-->

    </header>
    <!--Header Start Here End-->

    <!--Wrapper Start-->
    <div class="wrapper clearfix">
        <div class="inner-conatiner">
            <!--Side Menu Section-->
            <div class="left-col">
                <ul class="sidebar-menu-list">
                    <li>
                        <a>
                            <div class="blank-space"></div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="active">
                            <i class="fa fa-user sidebar-icon"></i> <span class="menu-name">Profile </span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-calendar sidebar-icon"></i> <span class="menu-name">Appointments </span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>

                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-retweet sidebar-icon"></i> <span class="menu-name">Media </span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="blank-space"></div>
                        </a>
                    </li>

                </ul>

                <ul class="sidebar-menu-list middle-menu-list">
                    <li>
                        <a>
                            <div class="blank-space"></div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-info sidebar-icon"></i> <span class="menu-name">Vitals </span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-medkit sidebar-icon"></i> <span class="menu-name">Clinical Notes </span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>

                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-lightbulb-o sidebar-icon"></i> <span class="menu-name">Treatments </span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-asterisk sidebar-icon"></i> <span class="menu-name">Complied Procedures </span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-files-o sidebar-icon"></i> <span class="menu-name">Files</span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-file-o sidebar-icon"></i> <span class="menu-name">Prescriptions</span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-clock-o sidebar-icon"></i> <span class="menu-name">Time</span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="blank-space"></div>
                        </a>
                    </li>

                </ul>

                <ul class="sidebar-menu-list">
                    <li>
                        <a>
                            <div class="blank-space"></div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <i class="fa fa-list-alt sidebar-icon"></i> <span class="menu-name">Invoice </span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-money sidebar-icon"></i> <span class="menu-name">payment </span>
                            <span class="fa fa-chevron-right"></span>
                            <div class="active-shadow"></div>

                        </a>
                    </li>

                    <li>
                        <a>
                            <div class="blank-space"></div>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="blank-space"></div>
                        </a>
                    </li>

                </ul>

            </div>
            <!--Side Menu Section end Here-->

            <!--Right container-->
            <div class="right-col clearfix">
                <div class="close-left-menu">
                    <img src="../img/clode-icon.png">
                </div>
                <div class="col-md-12 patient-details ">
                    <div class="patient-profile  display-flex-center clearfix patient-profile-search">

                        <div class="fl col-xs-5  no-padding">
                            <h4>COMMUNICATION SETTINGS</h4>
                        </div>
                        <div class="col-xs-7 pull-right no-padding search-section">
                            <div class="pull-right">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="patient-section-view padding35 clearfix">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">Manage Staff</a></li>
                            <li><a href="#">Staff Notification</a></li>
                            <li><a href="#">Doctors visit Timings</a></li>
                        </ul>


                        <!--Tab list-->
                        <div class="view-type-section  fl" style="margin-top:30px;">
                            To comply with TRAI Regulations, you can customize the text only using options below
                        </div>
                        <!--Tab list End-->


                    </div>

                    <!--form starts here-->
                    <div class="container">
                        <form role="form" class="form-horizontal" style="margin-top:50px;">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Contact Number:</label>
                                        <div class="col-sm-3">
                                            <input type="email" class="form-control" id="email" placeholder="Contact Number">
                                        </div>
                                        <div class="col-sm-5">
                                            <p>Maximum 15 characters &amp; represented as (clinic account number)</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="pwd">Email Address:</label>
                                        <div class="col-sm-3">
                                            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                                        </div>
                                        <div class="col-sm-5">
                                            <p>All replies by patients for emails will be sent to this address</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="pwd">SMS Language:</label>
                                        <div class="col-sm-3">
                                            <select class="form-control" id="sel1">
          <option>English</option>
          <option>Hindi</option>
          <option>Telugu</option>
          <option>Tamil</option>
        </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <p>SMS to patients will be sent in this language</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="checkbox-inline">
                                        <label>
      <input type="checkbox" /> Appointment Confirmation SMS
    </label>
                                    </div>

                                    <div style="border-bottom:1px solid black;"><em>SMS is sent to the patient on successfully adding on appointment</em></div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div style="margin-top:10px;"><textarea rows="4" cols="80" style="background-color:#D3D3D3;">
  At trueapps  you will learn how to make a website. We offer free tutorials in all web development technologies.
                  </textarea></div>

                                    <!--<div class="jumbotron">   class .jumbotron to create a jumbotron 
    <div class="container">
        <h1>Tutorials Park</h1>
        <p>This is the most Comprehensible Web Development Website
          on the Internet.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Continue</a></p>
      </div>
    </div>-->

                                </div>
                                <div class="col-md-6 col-md-push-2">
                                    <div>
                                        Include the following in the SMS
                                    </div>
                                    <div class="checkbox-inline">
                                        <label>
      <input type="checkbox" /> Patient Name
    </label>
                                    </div>
                                    <div>
                                        <div class="checkbox-inline">
                                            <label>
      <input type="checkbox" /> Clinic Name
    </label>
                                        </div>
                                    </div>

                                    <div class="checkbox-inline">
                                        <label>
      <input type="checkbox" /> Appointment Category
    </label>
                                    </div>

                                    <div>
                                        <div class="checkbox-inline">
                                            <label>
      <input type="checkbox" /> Contact Number
    </label>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="checkbox-inline">
                                            <label>
      <input type="checkbox" /> link for online appointments
    </label>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="checkbox-inline">
                                        <label>
      <input type="checkbox" /> Appointment Cancellation SMS
    </label>
                                    </div>

                                    <div style="border-bottom:1px solid black;"><em>SMS is sent to the patient when appointment is cancelled</em></div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div style="margin-top:10px;"><textarea rows="4" cols="80" style="background-color:#D3D3D3;">
  At trueapps  you will learn how to make a website. We offer free tutorials in all web development technologies.
                  </textarea></div>

                                    <!--<div class="jumbotron">   class .jumbotron to create a jumbotron 
    <div class="container">
        <h1>Tutorials Park</h1>
        <p>This is the most Comprehensible Web Development Website
          on the Internet.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Continue</a></p>
      </div>
    </div>-->

                                </div>
                                <div class="col-md-6 col-md-push-2">
                                    <div>
                                        Include the following in the SMS
                                    </div>
                                    <div class="checkbox-inline">
                                        <label>
      <input type="checkbox" /> Patient Name
    </label>
                                    </div>
                                    <div>
                                        <div class="checkbox-inline">
                                            <label>
      <input type="checkbox" /> Clinic Name
    </label>
                                        </div>
                                    </div>

                                    <div class="checkbox-inline">
                                        <label>
      <input type="checkbox" /> Appointment Category
    </label>
                                    </div>

                                    <div>
                                        <div class="checkbox-inline">
                                            <label>
      <input type="checkbox" /> Contact Number
    </label>
                                        </div>
                                    </div>


                                </div>
                            </div>



                        </form>
                    </div>




                    <!--form ends here-->

                </div>
                <!--Right Container end Here-->
            </div>
        </div>
        <!--Wrapper End-->

        <!--Footer-->
        <!--<footer>
      <div class="container">
        <div class="copy-right pull-left">
          <p>@ copyright trueapps </p>
        </div>
        <div class="pull-right creativer-footer">
          <p>Design By ADLY Creative</p>
        </div>
        </div>
    </footer>-->
        <!--Footer End-->



        <!--<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/js/tooltip.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>-->
</body>