    <html >
    <head>
    
    </head>
    <body>
        <div class="container" id="main">
   <div class="row">
   <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading"><input type="button" value="Add" class="btn btn-primary pull-right"><h4>Clinical Notes</h4></div>
   			<div class="panel-body">
              <div class="col-md-8">     
                   <table class="table table-stripped">
                       <tbody>
                           <tr>
                               <td>complaints</td>
                               <td><ul style="list-style-type:none; border-left:1px solid black;">
                               <li><input type="text" class="form-control"></li>
                               </ul>
                               </td>
                           </tr>
                           <tr>
                               <td>observations</td>
                                <td><ul style="list-style-type:none; border-left:1px solid black;">
                               <li><input type="text" class="form-control"></li>
                               </ul>
                               </td>
                           </tr>
                           <tr>
                               <td>investigations</td>
                                <td><ul style="list-style-type:none; border-left:1px solid black;">
                               <li><input type="text" class="form-control"></li>
                               </ul>
                               </td>
                           </tr>

                           <tr>
                               <td>diagnoses</td>
                                <td><ul style="list-style-type:none; border-left:1px solid black;">
                               <li><input type="text" class="form-control"></li>
                               </ul>
                               </td>
                           </tr>

                       </tbody>
                   </table>

              </div>
              <div class="col-md-2">
                  <select class="form-control">
                      <option>abc</option>
                      <option></option>
                      <option></option>
                      <option></option>
                  </select>
              </div>
              <div class="col-md-2">
                  <input type="button" class="btn btn-default" value="Add new Complaint">
              </div>
            </div>
   		</div>
   </div>
   </div>
   </div>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>    
    <script src="./app.js"></script> 
    <script src="./appctrl.js"></script>    
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" />    
     <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/easy-responsive-tabs.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="../css/style-crop.css" />

    <link rel="stylesheet" type="text/css" href="../css/jquery.Jcrop.css" />
    <link rel="stylesheet" type="text/css" href="../css/master.css" />
      <link rel="stylesheet" type="text/css" href="" />
    <link rel="stylesheet" type="text/css" href="../css/responsive.css" />
        
    </body>
    </html>