<div class="row">
<div class="dashboard-properties top-page">
             <div class="col-md-6 col-sm-offset-1 top-page">
            <div class="card-container card-properties">
                <div class="card">
                    <div class="row">
                    <form name="exampleForm" class="myForms">
                    <label>Savings Account Number:</label>
                        <input type="number" name="accountNumber" ng-model="accountNumber" required />
                        <div ng-messages="exampleForm.accountNumber.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
  
                    <label>Transaction type:</label>
                        <input type="text" name="transactionTyp" ng-model="transactionType" required />
                        <div ng-messages="exampleForm.transactionTyp.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    
                    <label>Fixed Deposit Amount:</label>
                        <input type="number" name="transactAmt" ng-model="transactAmount" required />
                        <div ng-messages="exampleForm.transactAmt.$error">
                            <div ng-message="required">This field is required</div>
                        </div>

                    <label>Rate Of Interest(In terms of %):</label>
                        <input type="number" name="rateOfInterest" ng-model="roi" required />
                        <div ng-messages="exampleForm.transactAmt.$error">
                            <div ng-message="required">This field is required</div>
                        </div>             

                    <label>Account Closing Date:</label>
                        <div flex-gt-xs>
                                <md-datepicker ng-model="accountCloseDate" md-placeholder="Enter date"></md-datepicker>
                            </div>

                    <div class="container">
                        <button type="button" class="btn btn-primary" ng-click="fdOpen()">Deposit</button>
                        <button type="button" class="btn btn-danger" ng-click="">Cancel</button>
                    </div>
                    </form>
                </div> <!-- row div end -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col-sm-3 -->
</div>
</div>

<div class="row">
<div class="dashboard-properties top-page">
             <div class="col-md-6 col-sm-offset-1 top-page">
            <div class="card-container card-properties">
                <div class="card">
                    <div class="row">
                    <form name="exampleForm" class="myForm" required>
                    <label>Withdrawer Name:</label>
                        <input type="text" name="withdrawerName" ng-model="depositorName" required />
                        <div ng-messages="exampleForm.depositorName.$error">
                            <div ng-message="required">This field is required</div>
                        </div>

                    <label>Transaction type:</label>
                        <input type="text" name="transactionTyp" ng-model="transactionType" required />
                        <div ng-messages="exampleForm.transactionTyp.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    
                    <label>Account Number:</label>
                        <input type="number" name="accountNumber" ng-model="accountNumber" required />
                        <div ng-messages="exampleForm.accountNumber.$error">
                            <div ng-message="required">This field is required</div>
                        </div>

                    <label>Withdraw Amount:</label>
                        <input type="number" name="transactAmt" ng-model="transactAmount" required />
                        <div ng-messages="exampleForm.transactAmt.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    

                    <label>Withdraw Date:</label>
                        <div flex-gt-xs>
                                <md-datepicker ng-model="transactionDate" md-placeholder="Enter date" disabled></md-datepicker>
                            </div>

                    <div class="container">
                        <button type="button" class="btn btn-primary" ng-click="withdraw()">Withdraw</button>
                        <button type="button" class="btn btn-danger" ng-click="">Cancel</button>
                    </div>
                    </form>
                </div> <!-- row div end -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col-sm-3 -->
</div>
</div>
