<form class="col-md-9 col-md-push-2 top-margin" name="centerForm">
	<br />
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="centerName">Center Name
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="centerName" required="" type="text" placeholder="Center Name" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="centerAffilatedName">Center Affilated Name
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="CenterAffilatedName" required="" type="text" placeholder="Affliated Name" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="centerSpecialization">Specialization
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<select class="form-control customerWidth" name="centerSpecialization" required="">
					<option value="Dental">Dental</option>
					<option value="Physician">Physician</option>
					<option value="Dermatology">Dermatology</option>
					<option value="ENT">E.N.T</option>
					<option value="Gynecology">Gynecology</option>
					<option value="Cardiology">Cardiology</option>
					<option value="Pediatrician ">Pediatrician</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="centerTin">TIN No.
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="CenterTin" required="" type="text" placeholder="TIN" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="subscriptionname">Subscription Name
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3"></div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="centerEmail">Center Email
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="CenterEmail" required="" type="email" placeholder="center@hospital.com" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="centerContactNumber">Contact Number
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="centerContactNumber" required="" type="text" placeholder="Moblie/Landline" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="addressLine1">AddressLine1
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidthAddress" name="addressLine1" required="" type="text" placeholder="Address Line 1" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="addressLine2">AddressLine2</label>
		<div class="col-sm-3">
			<input class="form-control customerWidthAddress" type="text" placeholder="Address Line 2" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="landamrk">Landmark</label>
		<div class="col-sm-3">
			<input class="form-control customerWidth" type="text" placeholder="Nearest landmark" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="city">City
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="city" required="" type="text" placeholder="City" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="state">State
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="state" required="" type="text" placeholder="State" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="country">Country
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="country" required="" type="text" placeholder="Country" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="pincode">Pincode
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="pincode" required="" type="text" placeholder="Pincode" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="centerWebsite">Center Website</label>
		<div class="col-sm-3">
			<input class="form-control customerWidth" name="centerWebsite" type="text" placeholder="www.hospital.com" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="centerSpecialText">Special Text</label>
		<div class="col-sm-3">
			<input class="form-control customerWidth" name="centerSpecialText" type="text" placeholder="Special Text" />
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="dateofjoining">Date of Subscription
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="dateofjoining" required="" type="date" placeholder="" />
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-3 control-label" for="centerTimezone">Center TimeZone
			<em class="customerstar">*</em>
		</label>
		<div class="col-sm-3">
			<div>
				<input class="form-control customerWidth" name="centerTimezone" required="" type="text" placeholder="" />
			</div>
		</div>
	</div>
	<div class="form-group row col-md-4 col-md-push-2">
		<input class="btn btn-info" name="myButton" type="Submit" value="Submit" />
		<a>
			<button class="btn btn-info">Cancel</button>
		</a>
	</div>
</form>