
      <div class="left-col">
        <ul class="sidebar-menu-list">
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>
          <li>
            <a href="" class="active">
              <i class="fa fa-user sidebar-icon"></i> <span class="menu-name">Profile </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>     
          </li>
          <li>
            <a href="">
              <i class="fa fa-calendar sidebar-icon"></i> <span class="menu-name">Appointments </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
              
            </a>     
          </li>
          <li>
            <a href="">
              <i class="glyphicon glyphicon-retweet sidebar-icon"></i> <span class="menu-name">Media </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>     
          </li>
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>

        </ul>

        <ul class="sidebar-menu-list middle-menu-list">
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>
          <li>
            <a href="" class="">
              <i class="fa fa-info sidebar-icon"></i> <span class="menu-name">Vitals </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>     
          </li>
          <li>
            <a href="">
              <i class="fa fa-medkit sidebar-icon"></i> <span class="menu-name">Clinical Notes </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
              
            </a>     
          </li>
          <li>
            <a href="">
              <i class="fa fa-newspaper-o sidebar-icon"></i> <span class="menu-name">Treatments </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>     
          </li>
          <li>
            <a href="">
              <i class="fa fa-certificate sidebar-icon"></i> <span class="menu-name">Complied Procedures </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>     
          </li>
          <li>
            <a href="">
              <i class="fa fa-files-o sidebar-icon"></i> <span class="menu-name">Files</span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>     
          </li>
          <li>
            <a href="">
              <i class="fa fa-file-text-o sidebar-icon"></i> <span class="menu-name">Prescriptions</span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>     
          </li>
          <li>
            <a href="">
              <i class="fa fa-clock-o sidebar-icon"></i> <span class="menu-name">Time</span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>     
          </li>
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>

        </ul>

        <ul class="sidebar-menu-list">
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>
          <li>
            <a href="" class="">
              <i class="fa fa-newspaper-o sidebar-icon"></i> <span class="menu-name">Invoice </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
            </a>     
          </li>
          <li>
            <a href="">
              <i class="fa fa-money sidebar-icon"></i> <span class="menu-name">payment </span>
              <span class="fa fa-chevron-right"></span>
              <div class="active-shadow"></div>
              
            </a>     
          </li>
          
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>
          <li>
            <a>
              <div class="blank-space"></div>
            </a>
          </li>

        </ul>

      </div>
      