<md-sidenav class="md-sidenav-left left-col" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="3">

    <md-content>
        <!--<md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
        </md-button>-->

        <!--LIST STARTS HERE-->
        <md-list ng-cloak>
            <md-subheader class="md-no-sticky">Account</md-subheader>
            <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                <p>Savings Bank Account</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                <p>Fixed Deposite</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                <p>Recurring Deposite</p>
            </md-list-item>

            <md-divider></md-divider>

            <md-subheader class="md-no-sticky">Operations</md-subheader>

            <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                <p>Deposite</p>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                <p>Withdrawl</p>
            </md-list-item>
        </md-list>
        <!--LIST ENDS HERE-->



        <!--<p hide show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
        </p>-->
    </md-content>

</md-sidenav>