.background {
    float: top;
    height: 200px;
    background : linear-gradient(to bottom right, #ff0011, #ff44aa);
}

.dashboard-properties{

  background-color: #ff5722;
}

.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}
.card-container, .front, .back {
	width: 100%;
	height: 420px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
}

.card-container {
	  -webkit-perspective: 800px;
   -moz-perspective: 800px;
     -o-perspective: 800px;
        perspective: 800px;
        margin-bottom: 30px;
        margin-top: 70px;
}


.card .cover{
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.card .cover img{
    width: 100%;
}
.card .user{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card .content .main {
    min-height: 160px;
}
.card .back .content .main {
    height: 215px;
}
.card .name {
		font-family: 'Arima Madurai', cursive;
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession{
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}

.card .header {
    padding: 15px 20px;
    height: 90px;
}
.card .motto{
		font-family: 'Arima Madurai', cursive;
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container{
	width: 100%;
	margin-top: 50px;
}
.card .stats{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
}

.card .stats:first-child{
	border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
	border-left: 1px solid #EEEEEE;
}
.card .stats h4{
		font-family: 'Arima Madurai', cursive;
	font-weight: 300;
	margin-bottom: 5px;
}
.card .stats p{
	color: #777777;
}
/*      Just for presentation        */

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}
.title small{
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}
.space-30{
	height: 30px;
	display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-200{
    height: 200px;
    display: block;
}
.white-board{
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}
.ct-heart{
    color: #F74933;
}

 pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
     color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
   color: #333;
}
.com{
    color: #999;
}

.btn-simple{
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus{
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
}
.btn-simple i{
    font-size: 16px;
}

.navbar-brand-logo{
    padding: 0;
}
.navbar-brand-logo .logo{
    border: 1px solid #333333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px;
}
.navbar .navbar-brand-logo .brand{
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
    color: #555;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back{
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }
    .front{
        z-index: 4;
    }
    .card-container:not(.manual-flip):hover .back,
    .card-container.manual-flip.hover .back{
        z-index: 5;
        visibility: visible;
    }
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.horizontalline {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    width: 530px;
}

::selection {
    background: #5f74a0;
    color: #fff;
}

::-moz-selection {
    background: #5f74a0;
    color: #fff;
}

::-webkit-selection {
    background: #5f74a0;
    color: #fff;
}

br {
    display: block;
    line-height: 1.6em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

strong,
b {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

.border-bottom {
    border-bottom: 1px solid grey;
}

.aboutDescription {
    height: 100px;
    max-height: 100px;
    overflow-y: scroll;
}

footer {
    height: 70px;
}

.label-width {
    width: 280px;
}

.my .glypicon {
    pointer-events: all;
}


/** page structure **/

#wrapper {
    display: block;
    width: 850px;
    background: #fff;
    margin: 0 auto;
    padding: 10px17px;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
}

#wrapper1 {
    display: block;
    width: 500px;
    background: #fff;
    margin: 0 auto;
    padding: 10px 10px 17px 20px;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
    overflow-y: scroll;
    height: 300px;
}

#keywords {
    margin: 0 auto;
    font-size: 0.9em;
    margin-bottom: 15px;
}

#keywords thead {
    cursor: pointer;
    background: #c9dff0;
}

#keywords thead tr th {
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px;
}

#keywords thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp,
#keywords thead tr th.headerSortDown {
    background: #acc8dd;
}

thead tbody tr th td {
    font-size: 62.5%;
    line-height: 1;
    color: #585858;
    padding: 22px 10px;
    padding-bottom: 55px;
}

#keywords thead tr th.headerSortUp span {
    background-image: url('http://i.imgur.com/SP99ZPJ.png');
}

#keywords thead tr th.headerSortDown span {
    background-image: url('http://i.imgur.com/RkA9MBo.png');
}

#keywords tbody tr {
    color: #555;
}

#keywords tbody tr td {
    padding: 15px 10px;
}

#keywords tbody tr td.lalign {}

html {
    background-color: #e7eaeb;
}

.rowheight {
    height: 30px;
}

.centerstar {
    color: #FF0000;
}

.emptyMsg {
    position: absolute;
    left: 0;
    right: 150px;
    margin: auto;
    color: black;
    font-size: 1.00em;
    z-index: 0;
}

.docvisitmargins {
    margin-top: 40px;
    padding-left: 280px;
}

.centertimingsmargins {
    border-bottom: 1px solid black initial;
}

.timingwidth {
    width: 100px;
}

.appCategorywidth {
    width: 200%;
}

.appcalendarPadding {
    padding-left: 22%;
}

.modal-lg {
    margin-top: 8% !important;
}

.emergency>.ui-resizable-e {
    background: repeating-linear-gradient( 45deg, rosybrown, aliceblue 10px, lightyellow 10px, darkmagenta 20px);
}

.doctor-selected {
    border: 1px solid lightseagreen;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
}

.dropdown {
    background-color: #ffffff;
    width: 25%;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

li {
    color: #000000;
}

.intro-tables {
    top: -130px;
    position: relative;
}

.intro-table {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    background-position: 0% 0%;
}

.intro-table-first {
    background-image: url('../img/table-1.jpg');
}

.intro-tables .intro-table {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px 0;
}

.intro-tables .intro-table .heading {
    margin: 0;
    padding: 30px;
}

.intro-tables .intro-table .small-heading {
    margin: 0;
    padding: 0 30px;
}

.intro-tables .intro-table .bottom {
    position: absolute;
    bottom: 0;
}

.intro-tables .intro-table .owl-schedule .schedule-row {
    padding: 10px 30px;
    color: white;
    transition: all 0.3s ease;
}

.toolbarss {
    background-color: rgba(255, 255, 255, 0.87);
    font: #ff5722;
}


.left-col {
    height: 613px;
    width: 295px;
}