<form class="form-horizontal customerContainer" name="myForm" novalidate>
  <div class="container">

    <!--<div class="form-group row">
      <label for="customerName" class="control-label">Name<i class="customerstar">*</i></label>
      <div class="col-sm-7">
        <div ng-class='{"validator":myForm.customerName.$dirty, "error":myForm.customerName.$invalid, "validator noerror":!myForm.customerName.$invalid}'>
          <select class='form-control' style=" " id='id_title'>
                    <option>Mr</option>
                    <option>Ms</option>
                    <option>Mrs</option>
                    <option>Miss</option>
                    <option>Dr</option>
                  </select>
          <input type="text" class="form-control customerWidth" name="customerName" placeholder="Name" ng-model="users.customerName"
            required />
        </div>
      </div>
    </div>-->

    <h2 class="demo-2">Customer Details</h2>
<br/>
    <div class='form-group row'>
            <label class='labelwidth col-md-2 for='id_title'>Name</label>
            <div class='col-md-9'>
              <div class='col-md-2'>
                <div class='form-group internal'>
                  <select class='form-control' id='id_title'>
                    <option>Mr</option>
                    <option>Ms</option>
                    <option>Mrs</option>
                    <option>Miss</option>
                    <option>Dr</option>
                  </select>
                </div>
              </div>
              <input type="text" class="form-control customerWidthAddress" name="customerName" placeholder="Full Name" ng-model="users.customerName"
            required />
              </div>
              </div>

    <!--<div class="form-group">
      <label for="customerClass" class="col-sm-5 control-label"></label>
      <div class="col-sm-7">
<input type="text" class="form-control customerWidth" name="customerName" placeholder="Name" ng-model="users.customerName"
            required />
            </div>
            </div>-->


    <!--<select class="form-control bfh-countries" data-country="US"></select>-->
  <!--<div class="form-group">  <select id = "countries_states1" class="input-medium bfh-countries" data-country="US" style="width:27%; padding:4px 4px;"></select>
</div>
    <select class="input-medium bfh-states" data-country="countries_states1" style="width:27%;padding:4px 4px;"></select>-->


    <div class="form-group row">
      <label for="customerClass" class="col-sm-2 labelwidth">Class<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.customerClass.$dirty, "error":myForm.customerClass.$invalid, "validator noerror":!myForm.customerClass.$invalid}'>
          <input type="text" class="form-control customerWidth" name="customerClass" placeholder="Class" ng-model="users.customerClass"
            required>
        </div>
      </div>



      <label for="customerAffliateName" class="col-sm-2 labelwidth" >Affliate Name<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.customerAffliateName.$dirty, "error":myForm.customerAffliateName.$invalid, "validator noerror":!myForm.customerAffliateName.$invalid}'>
          <input type="text" class="form-control customerWidth" name="AffliateName" placeholder="Affiliate Name" ng-model="users.customerAffliateName"
            required>
        </div>
      </div>
      </div>


    <div class="form-group row">
      <label for="customerTin" class="col-sm-2 labelwidth">TIN Number<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.customerTin.$dirty, "error":myForm.customerTin.$invalid, "validator noerror":!myForm.customerTin.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="TIN" name="customerTin" ng-model="users.customerTin" required>
        </div>
      </div>


      <label for="dateofjoining" class="col-sm-2 labelwidth">Subscription Date<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.dateofjoining.$dirty, "error":myForm.dateofjoining.$invalid, "validator noerror":!myForm.dateofjoining.$invalid}'>
          <input type="date" class="form-control customerWidth" placeholder="" name="dateofjoining" ng-model="users.dateofjoining"
            required>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="customeWebsite" class="col-sm-2 labelwidth">Website<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.customerWebsite.$dirty, "error":myForm.customerWebsite.$invalid, "validator noerror":!myForm.customerWebsite.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="www.clinic.com" name="customerWebsite" ng-model="users.customerWebsite"
            required>
        </div>
      </div>

      <label for="customerspecialtext" class="col-sm-2 labelwidth">Special Text<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.customerspecialtext.$dirty, "error":myForm.customerspecialtext.$invalid, "validator noerror":!myForm.customerspecialtext.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="Special Text" name="customerspecialtext" ng-model="users.customerspecialtext"
            required>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="customercontactnumber1" class="col-sm-2 labelwidth">Contact Number<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.customercontactnumber1.$dirty, "error":myForm.customercontactnumber1.$invalid, "validator noerror":!myForm.customercontactnumber1.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="9999999999" name="customercontactnumber1" ng-model="users.customercontactnumber1"
            pattern="[7-9]{1}[0-9]{9}" required>
        </div>
      </div>

      <label for="idcustomerrating" class="col-sm-2 labelwidth">Rating</label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.idcustomerrating.$dirty, "error":myForm.idcustomerrating.$invalid, "validator noerror":!myForm.idcustomerrating.$invalid}'>
          <input type="number" class="form-control customerWidth" placeholder="*****" name="idcustomerrating" ng-model="users.idCustomerRating">
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="customerEmail" class="col-sm-2 labelwidthl">Email<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.customerEmail.$dirty, "error":myForm.customerEmail.$invalid, "validator noerror":!myForm.customerEmail.$invalid}'>
          <input type="email" class="form-control customerWidth" placeholder="Email" name="customerEmail" ng-model="users.customerEmail"
            required>
          <!--  <p>{{myForm.practiceEmail.$valid}}</p> -->
        </div>
      </div>
    </div>

    <div class="horizontalline"></div>
    <br/>





<h2 class="demo-2">Customer Address details</h2>
<br/>

    <div class="form-group row">
      <label for="addressLine1" class="col-sm-2 labelwidth">AddressLine1<i class="customerstar">*</i></label>
      <div class="col-sm-9">
        <div ng-class='{"validator":myForm.addressLine1.$dirty, "error":myForm.addressLine1.$invalid, "validator noerror":!myForm.addressLine1.$invalid}'>
          <input type="text" class="form-control customerWidthAddress" placeholder="Address Line 1" name="addressLine1" ng-model="users.address.addressLine1"
            required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="addressLine2" class="col-sm-2 labelwidth">AddressLine2</label>
      <div class="col-sm-9">
        <input type="text" class="form-control customerWidthAddress" placeholder="Address Line 2" ng-model="users.address.addressLine2">
      </div>
    </div>

    <div class="form-group row">
      <label for="landamrk" class="col-sm-2 labelwidth">Landmark</label>
      <div class="col-sm-3">
        <input type="text" class="form-control customerWidth" placeholder="Nearest landmark" ng-model="users.address.landamrk">
      </div>

      <label for="city" class="col-sm-2 labelwidth">City<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.city.$dirty, "error":myForm.city.$invalid, "validator noerror":!myForm.city.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="City" name="city" ng-model="users.address.city" required>
        </div>
      </div>
      </div>
    <div class="form-group row">
      <label for="state" class="col-sm-2 labelwidth">State<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.state.$dirty, "error":myForm.state.$invalid, "validator noerror":!myForm.state.$invalid}'>
          <!--<input type="text" class="form-control customerWidth" placeholder="State" name="state" ng-model="users.address.state" required>-->
          <select class="form-control customerWidth" name="state" ng-model="users.address.state" ng-options="state as state.StateName for state in stateList track by state.StateId"></select>

        </div>
      </div>

      <label for="country" class="col-sm-2 labelwidth">Country<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.country.$dirty, "error":myForm.country.$invalid, "validator noerror":!myForm.country.$invalid}'>
          <!--<input type="text" class="form-control customerWidth" placeholder="Country" name="country" ng-model="users.address.country" required>-->
        <select class="form-control customerWidth" ng-options="country as country.name for country in country track by country.id" ng-model="users.address.country" ng-change="getState()"></select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="pincode" class="col-sm-2 labelwidth">Pincode<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.pincode.$dirty, "error":myForm.pincode.$invalid, "validator noerror":!myForm.pincode.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="Pincode" name="pincode" ng-model="users.address.pincode" required>
        </div>
      </div>
    </div>
     <div class="horizontalline"></div>
    <br/>

    <h2 class="demo-2"> Owner details</h2>
<br/>
    
       
       <div class="form-group row">
          <label for="customer_Name" class="col-sm-2 labelwidth">Name<i class="customerstar">*</i></label>
          <div class="col-sm-3">
              <div ng-class='{"validator":myForm.name.$dirty, "error":myForm.name.$invalid, "validator noerror":!myForm.name.$invalid}'>
                  <input type="text" class="form-control customerWidth" id="name1" value="" name = "name"placeholder="Name" ng-model="ownerDetails.name" name="customer_Name" ng-pattern="/^(\w+ ?)*$/" required>
              </div>
          </div>
      
          <label for="customer_Mobile" class="col-sm-2 labelwidth">Mobile<i class="customerstar">*</i></label>
          <div class="col-sm-3">
              <div ng-class='{"validator":myForm.mobile.$dirty, "error":myForm.mobile.$invalid, "validator noerror":!myForm.mobile.$invalid}'>
                <input type="text"  class="form-control customerWidth" name="mobile" placeholder="Mobile.No" ng-model="ownerDetails.mobile" pattern="[7-9]{1}[0-9]{9}" required>
              </div>
          </div>
      </div>

      <div class="form-group row">
        <label for="customer_AlternateMobile" class="col-sm-2 labelwidth">AlternateMobile<i class="customerstar">*</i></label>
          <div class="col-sm-3">
            <div ng-class='{"validator":myForm.altmobile.$dirty, "error":myForm.altmobile.$invalid, "validator noerror":!myForm.altmobile.$invalid}'>
              <input type="text" ng-minlength = "10" class="form-control customerWidth" name= "altmobile" placeholder="Alt Mobile.No" ng-model="ownerDetails.alternateMobile" pattern="[7-9]{1}[0-9]{9}" required><span data-ng-show="myForm.users.customer_Mobile.$error.match" pattern="[7-9]{1}[0-9]{9}" required>Numbers have to match!</span>
            </div>
          </div>
    
      <label for="isDoctor" class="col-sm-2 labelwidth">Are you Doctor?<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <input type="radio" ng-model="ownerDetails.isDoctor" value="true" />Yes
          <input type="radio" ng-model="ownerDetails.isDoctor" value="false" />No<br />
        </div>
    </div>
    <flash-message></flash-message>
    <div class="form-group row">
     <label for="isDoctor" class="col-sm-2 labelwidth">Role<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <select class="form-control customerWidth" name="role" ng-model="ownerDetails.role">
      <option ng-repeat="role in roles" value="{{role.name}}">{{role.name}}</option>
    </select>
        </div>
    
      <label for="customer_DOB" class="col-sm-2 labelwidth">DOB<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <div ng-class='{"validator":myForm.dob.$dirty, "error":myForm.dob.$invalid, "validator noerror":!myForm.dob.$invalid}'>
            <input type="date" class="form-control customerWidth" placeholder="DOB" name="dob" ng-model="ownerDetails.customer_DOB" required>
          </div>
        </div>
    </div>

    <div class="form-group row">
      <label for="customer_Gender" class="col-sm-2 labelwidth">Gender<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <input type="radio" ng-model="ownerDetails.gender" value="male" />Male
          <input type="radio" ng-model="ownerDetails.gender" value="female" />Female<br />
        </div>
    
        <label for="customer_Email" class="col-sm-2 labelwidth">Email<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <div ng-class='{"validator":myForm.email.$dirty, "error":myForm.email.$invalid, "validator noerror":!myForm.email.$invalid}'>
            <input type="email" class="form-control customerWidthEmail" placeholder="Email" name = "email" ng-model="ownerDetails.email" required>
        <!--  <p>{{myForm.practiceEmail.$valid}}</p> -->
          </div>
        </div>
    </div>

    <div class="form-group row">
    <label for="Addressline1" class="col-sm-2 labelwidth">AddressLine1<i class="customerstar">*</i></label>
        <div class="col-sm-3">
            <div ng-class='{"validator":myForm.address.$dirty, "error":myForm.address.$invalid, "validator noerror":!myForm.address.$invalid}'>
                <input type="text" class="form-control customerWidthAddress" placeholder="Address Line 1" name="address" ng-model="ownerDetails.address.Addressline1" required>
            </div>
        </div>
    </div>

    <div class="form-group">
       <label for="Addressline2" class="col-sm-2 labelwidth">AddressLine2</label>
        <div class="col-sm-3">
            <input type="text" class="form-control customerWidthAddress" placeholder="Address Line 2" ng-model="ownerDetails.address.Addressline2">
          </div>
    </div>


    <div class="form-group row">
      <label for="Landmark" class="col-sm-2 labelwidth">Landmark</label>
        <div class="col-sm-3">
            <input type="text"class="form-control customerWidth" placeholder="Nearest landmark" ng-model="ownerDetails.address.Landmark">
          </div>
    
      <label for="City" class="col-sm-2 labelwidth">City<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <div ng-class='{"validator":myForm.city.$dirty, "error":myForm.city.$invalid, "validator noerror":!myForm.city.$invalid}'>
            <input type="text"class="form-control customerWidth" placeholder="City" name="city" ng-model="ownerDetails.address.City" required>
          </div>
        </div>
    </div>



    <div class="form-group row">
        <label for="State" class="col-sm-2 labelwidthl">State<i class="customerstar">*</i></label>
        <div class="col-sm-3">
            <div ng-class='{"validator":myForm.state.$dirty, "error":myForm.state.$invalid, "validator noerror":!myForm.state.$invalid}'>
              <!--<input type="text" class="form-control customerWidth" placeholder="State" name="state" ng-model="ownerDetails.address.State" required>-->
             <select class="form-control customerWidth" name="state" ng-model="ownerDetails.address.State" ng-options="state as state.StateName for state in stateList track by state.StateId"  ng-change="getCity()"></select>

            </div>
        </div>
    
     <label for="Country" class="col-sm-2 labelwidth">Country<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <div ng-class='{"validator":myForm.country.$dirty, "error":myForm.country.$invalid, "validator noerror":!myForm.country.$invalid}'>
            <!--<input type="text" class="form-control customerWidth" placeholder="Country" name= "country" ng-model="ownerDetails.address.Country" required>-->
             <select class="form-control customerWidth" name= "country" ng-model="ownerDetails.address.Country" ng-options="country as country.name for country in country track by country.id"  ng-change="getState()"></select>

          </div>
        </div>
    </div>

    <div class="form-group row">
      <label for="Pincode" class="col-sm-2 labelwidth">Pincode<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <div ng-class='{"validator":myForm.Pincode.$dirty, "error":myForm.Pincode.$invalid, "validator noerror":!myForm.Pincode.$invalid}'>
            <input type="text" class="form-control customerWidth" placeholder="Pincode" name="Pincode" ng-model="ownerDetails.address.Pincode" required>
          </div>
       </div>
    </div>

    <!--<div class="form-group row">
      <button type="button" class="btn btn-default customerbuttonStyles" name="practicebtn" ng-click="addPractice()"><b> Add Center </b></button><br>
    </div>-->
  
</form>



<div style="margin-top:30px;" class="form-horizontal customerContainer">
  <!-- <hr style="border: 2px solid gray;">-->
  <form onsubmit="myButton.disabled = true; return true;" name="centerForm">
    <!--<div>
      <button type="button" class="btn btn-default customerHideButtonStyle" ng-click="hidePractice()"><b>Hide </b></button>
    </div>-->
   
 <div class="horizontalline"></div>
    <br/>

 
    <h2 class="demo-2">Center Details</h2>
<br/>

    <div class="form-group row">
      <label for="centerName" class="col-sm-2 labelwidth">Center Name<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":centerForm.centerName.$dirty, "error":centerForm.centerName.$invalid, "validator noerror":!centerForm.centerName.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="Center Name" name="centerName" ng-model="practice.centerName"
            required>
        </div>
      </div>

      <label for="CenterAffilatedName" class="col-sm-2 labelwidth">Center Affilated Name<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":centerForm.CenterAffilatedName.$dirty, "error":centerForm.CenterAffilatedName.$invalid, "validator noerror":!centerForm.CenterAffilatedName.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="Affliated Name" name="CenterAffilatedName" ng-model="practice.centerAffilatedName"
            required>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="CenterSpecialization" class="col-sm-2 labelwidth">Specialization<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":centerForm.CenterSpecialization.$dirty, "error":centerForm.CenterSpecialization.$invalid, "validator noerror":!centerForm.CenterSpecialization.$invalid}'>
          <select class="form-control customerWidth" name="CenterSpecialization" ng-model="practice.centerSpecialization" required>
      <option value="Dental">Dental</option>
      <option value="Physician">Physician</option>
      <option value="Dermatology">Dermatology</option>
      <option value="ENT">E.N.T</option>
      <option value="Gynecology">Gynecology</option>
      <option value="Cardiology">Cardiology</option>
      <option value="Pediatrician ">Pediatrician</option>
    </select><br>
        </div>
      </div>

      <label for="CenterTin" class="col-sm-2 labelwidth">TIN No.<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":centerForm.CenterTin.$dirty, "error":centerForm.CenterTin.$invalid, "validator noerror":!centerForm.CenterTin.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="TIN" name="CenterTin" ng-model="practice.centerTin" required>
        </div>
      </div>
    </div>



    <div class="form-group row">
      <label for="validity" class="col-sm-2 labelwidth">Subscription Type<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":centerForm.subscriptionname.$dirty, "error":centerForm.subscriptionname.$invalid, "validator noerror":!centerForm.subscriptionname.$invalid}'>
          <select class="form-control customerWidth" name="subscriptionname" ng-model="practice.subscriptionname">
      <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
        </div>
      </div>
    <!--<div class="form-group">
    <div class="form-group">
      <label for="subscriptionname" class="col-sm-5 control-label">Subscription Name<i class="customerstar">*</i></label>
      <div class="col-sm-7">
        <div ng-class='{"validator":centerForm.subscriptionname.$dirty, "error":centerForm.subscriptionname.$invalid, "validator noerror":!centerForm.subscriptionname.$invalid}'>
          <select class="form-control customerWidth" name="subscriptionname" ng-model="practice.subscriptionname">
      <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
        </div>
      </div>
    </div>-->


      <label for="CenterEmail" class="col-sm-2 labelwidth">Center Email<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":centerForm.CenterEmail.$dirty, "error":centerForm.CenterEmail.$invalid, "validator noerror":!centerForm.CenterEmail.$invalid}'>
          <input type="email" class="form-control customerWidth" placeholder="center@hospital.com" name="CenterEmail" ng-model="practice.centerEmail"
            required>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="CenterContactNumber" class="col-sm-2 labelwidth">Contact Number<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":centerForm.CenterContactNumber.$dirty, "error":centerForm.CenterContactNumber.$invalid, "validator noerror":!centerForm.CenterContactNumber.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="Moblie/Landline" name="CenterContactNumber" ng-model="practice.centerContactNumber"
            required>
        </div>
      </div>

        <label for="CenterWebsite" class="col-sm-2 labelwidth">Center Website</label>
        <div class="col-sm-3">
          <input type="text" class="form-control customerWidth" placeholder="www.hospital.com" name="CenterWebsite" ng-model="practice.centerWebsite">
        </div>
      </div>

      <div class="form-group row">
        <label for="CenterSpecialText" class="col-sm-2 labelwidth">Special Text</label>
        <div class="col-sm-3">
          <input type="text" class="form-control customerWidth" placeholder="Special Text" name="CenterSpecialText" ng-model="practice.centerSpecialText">
        </div>

        <label for="DateOfJoining" class="col-sm-2 labelwidth">Date of Subscription<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <div ng-class='{"validator":centerForm.DateOfJoining.$dirty, "error":centerForm.DateOfJoining.$invalid, "validator noerror":!centerForm.DateOfJoining.$invalid}'>
            <input type="date" class="form-control customerWidth" placeholder="" name="DateOfJoining" ng-model="practice.dateOfjoining"
              required>
          </div>
        </div>
      </div>

      <div class="horizontalline"></div>
    <br/>

    <h2 class="demo-2">Center Address</h2>
<br/>


    <div class="form-group row">
      <label for="addressLine1" class="col-sm-2 labelwidth">AddressLine1<i class="customerstar">*</i></label>
      <div class="col-sm-10">
        <div ng-class='{"validator":myForm.addressLine1.$dirty, "error":myForm.addressLine1.$invalid, "validator noerror":!myForm.addressLine1.$invalid}'>
          <input type="text" class="form-control customerWidthAddress" placeholder="Address Line 1" name="addressLine1" ng-model="practice.address.addressLine1"
            required>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="addressLine2" class="col-sm-2 labelwidth">AddressLine2</label>
      <div class="col-sm-10">
        <input type="text" class="form-control customerWidthAddress" placeholder="Address Line 2" ng-model="practice.address.addressLine2">
      </div>
    </div>


    <div class="form-group row">
      <label for="landamrk" class="col-sm-2 labelwidth">Landmark</label>
      <div class="col-sm-3">
        <input type="text" class="form-control customerWidth" placeholder="Nearest landmark" ng-model="practice.address.landamrk">
      </div>


      <label for="city" class="col-sm-2 labelwidth">City<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.city.$dirty, "error":myForm.city.$invalid, "validator noerror":!myForm.city.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="City" name="city" ng-model="practice.address.city" required>

        </div>
      </div>
    </div>



    <div class="form-group row">
      <label for="state" class="col-sm-2 labelwidth">State<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.state.$dirty, "error":myForm.state.$invalid, "validator noerror":!myForm.state.$invalid}'>
          <!--<input type="text" class="form-control customerWidth" placeholder="State" name="state" ng-model="practice.address.state" required>-->
         <select class="form-control customerWidth" name="state" ng-model="practice.address.state" ng-options="state as state.StateName for state in stateList track by state.StateId"  ng-change="getCity()"></select>

        </div>
      </div>

      <label for="country" class="col-sm-2 labelwidth">Country<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.country.$dirty, "error":myForm.country.$invalid, "validator noerror":!myForm.country.$invalid}'>
          <!--<input type="text" class="form-control customerWidth" placeholder="Country" name="country" ng-model="practice.address.country" required>-->
           <select class="form-control customerWidth" name="country" ng-model="practice.address.country" ng-options="country as country.name for country in country track by country.id" ></select>

        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="pincode" class="col-sm-2 labelwidth">Pincode<i class="customerstar">*</i></label>
      <div class="col-sm-3">
        <div ng-class='{"validator":myForm.pincode.$dirty, "error":myForm.pincode.$invalid, "validator noerror":!myForm.pincode.$invalid}'>
          <input type="text" class="form-control customerWidth" placeholder="Pincode" name="pincode" ng-model="practice.address.pincode" required>
        </div>
      </div>

      <div class="form-group">
        <label for="CenterWebsite" class="col-sm-2 labelwidth">Center Website</label>
        <div class="col-sm-3">
          <input type="text" class="form-control customerWidth" placeholder="www.hospital.com" name="CenterWebsite" ng-model="practice.centerWebsite">
        </div>
      </div>

      <div class="form-group row">
        -<label for="CenterSpecialText" class="col-sm-2 labelwidth">Special Text</label>
        <div class="col-sm-3">
          <input type="text" class="form-control customerWidth" placeholder="Special Text" name="CenterSpecialText" ng-model="practice.centerSpecialText">
        </div>
      
        <label for="DateOfJoining" class="col-sm-2 labelwidth">Date of Subscription<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <div ng-class='{"validator":centerForm.DateOfJoining.$dirty, "error":centerForm.DateOfJoining.$invalid, "validator noerror":!centerForm.DateOfJoining.$invalid}'>
            <input type="date" class="form-control customerWidth" placeholder="" name="DateOfJoining" ng-model="practice.dateofjoining"
              required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="CenterTimezone" class="col-sm-2 labelwidth">Center TimeZone<i class="customerstar">*</i></label>
        <div class="col-sm-3">
          <div ng-class='{"validator":centerForm.CenterTimezone.$dirty, "error":centerForm.CenterTimezone.$invalid, "validator noerror":!centerForm.CenterTimezone.$invalid}'>
            <input type="text" class="form-control customerWidth" placeholder="" name="CenterTimezone" ng-model="practice.centerTimezone"
              required>
          </div>
        </div>
      </div>

      <div class="horizontalline"></div>
    <br/>


  </form>
  
  </div>

  <center class="buttonstyle">
    <input type="Submit" name="myButton" value="Submit" ng-click="createCenter()" class="btn btn-info" ng-disabled="myForm.$invalid">
    <a ui-sref="home"><button class="btn btn-info">Cancel</button> </a>
  </center>
